<header class="header d-flex justify-content-center align-items-center">
  <div
    class="header__container d-flex justify-content-between align-items-center container"
  >
    <a href="/">
      <img
        class="logo"
        alt="FreeMarket logo"
        src="../../../assets/img/logo.png"
      />
    </a>
    <nav class="menu d-flex align-items-center">
      <span id="username-display" class="text-white mr-3 d-none">
        Bienvenido, <span id="username"></span>
      </span>
      <a
        id="admin-add"
        class="btn btn-outline-secondary d-none mr-2"
        href="admin/create_product.html"
      >
        <i class="la la-plus"></i>
        Agregar producto
      </a>
      <button id="logout-btn" class="btn btn-outline-secondary d-none">
        Salir
      </button>
      <div id="access-links">
        <a class="text-white mr-3" href="#/create-acount">
          Crear cuenta
        </a>
        <a class="text-white mr-3" href="#/login">Ingresar</a>
      </div>
    </nav>
  </div>
</header>
