<header class="header d-flex justify-content-center align-items-center">
  <div
    class="header__container d-flex justify-content-between align-items-center container"
  >
    <a href="/">
      <img
        class="logo"
        alt="FreeMarket logo"
        src="../../../assets/img/logo.png"
      />
    </a>
    <nav class="menu d-flex align-items-center mr-2">
      <span ng-if="$headerComponent.isAuthenticated" class="text-white mr-2">
        Bienvenido: {{ $headerComponent.user.username }}
      </span>
      <a
        ng-if="$headerComponent.isAdmin"
        class="btn btn-outline-secondary mr-2"
        href="#/admin/create-product"
      >
        <i class="la la-plus"></i>
        Agregar producto
      </a>
      <button
        ng-if="$headerComponent.isAuthenticated"
        class="btn btn-outline-secondary mr-2"
        ng-click="$headerComponent.logout()"
      >
        Salir
      </button>
      <div ng-if="!$headerComponent.isAuthenticated">
        <a class="text-white mr-3" href="#/create-acount">
          Crear cuenta
        </a>
        <a class="text-white mr-3" href="#/login">Ingresar</a>
      </div>
    </nav>
  </div>
</header>
