@import '../../../assets/css/bootstrap.min.css';

.header {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 3;

  &__container {
    width: 100%;
    max-width: 960px;
  }
}

.logo {
  --size: 64px;
  display: inline-block;
  height: var(--size);
  width: var(--size);
}
