.container-products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 0.5px solid #000000;
  padding: 10px;
  margin: 5px;
}

.image-product {
  width: 180px;
  height: 180px;
  border: 1px dashed #000000;
  padding: 10px;
  margin: 5px 0;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
