<section id="catalog">
  <header class="filters bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
      <p class="font-weight-bold m-0">Filtrar por:</p>
      <button
        class="btn"
        id="toggle-filters"
        ng-click="$catalog.toggleFilter()"
      >
        <i class="la la-filter la-lg"></i>
      </button>
    </div>
  </header>
  <form class="container mt-2" ng-If="$catalog.showFilter">
    <div class="row">
      <div class="form-group col-sm">
        <select
          class="form-control"
          id="kind-filter"
          ng-model="$catalog.filter"
          ng-change="$catalog.filterChanged()"
        >
          <option value="1">Tipo</option>
          <option value="2">Estilo</option>
        </select>
      </div>

      <div class="form-group col-sm" ng-switch="$catalog.filter">
        <select
          ng-switch-when="2"
          class="form-control"
          id="style-filter"
          ng-model="$catalog.q"
          ng-change="$catalog.search()"
        >
          <option value="1">Reproducciones</option>
          <option value="2">Contempor&aacute;neos</option>
          <option value="3">Coloniales</option>
          <option value="4">Art Noveu</option>
        </select>

        <select
          ng-switch-when="1"
          class="form-control"
          id="type-filter"
          ng-model="$catalog.q"
          ng-change="$catalog.search()"
        >
          <option value="1">Sillones</option>
          <option value="2">Mesas</option>
          <option value="3">Sillas</option>
          <option value="4">Taburetes</option>
          <option value="5">Escritorios</option>
        </select>
      </div>
    </div>
  </form>
</section>

<section class="d-flex flex-column container">
  <h4>Cat&aacute;logo de productos</h4>
  <div>
    <div class="loader" ng-if="$catalog.loader">
      Cargando...
    </div>
  </div>
  <div id="catalog-results" class="row">
    <h3
      class="text-muted my-5 text-center"
      ng-if="!$catalog.loader && !$catalog.products"
    >
      No hay resultados para esta b&uacute;squeda
    </h3>
  </div>
  <div class="container-products" ng-if="$catalog.products && !$catalog.loader">
    <div
      class="col-xs col-sm-6 col-lg-3 mb-3"
      ng-repeat="product in $catalog.products track by product.id"
    >
      <div class="card">
        <img class="card-img-top" ng-src="{{product.url}}" alt="{{title}}" />
        <div class="card-body">
          <h5 class="card-title text-ellipsis">{{product.title}}</h5>
          <p class="card-text">{{product.price | currency}}</p>
          <button class="btn button-primary btn-block">
            <i class="la la-cart-plus"></i>
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
