<!-- <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ex velit
  non tempore quas nulla corporis quae! Accusamus hic sint et in! Nemo aut
  eveniet aliquam tenetur ducimus, cupiditate saepe.
</p>
<ul>
  <li ng-repeat="user in $homePage.users">{{ user.name }}</li>
</ul> -->

<header-component></header-component>

<main class="main bg-white">
  <div
    class="d-flex flex-column justify-content-center align-items-center banner-home"
  >
    <div class="banner-content text-white container text-center">
      <h1 class="h2">
        Es momento de redecorar tu casa
      </h1>
      <p>
        ¡Llev&aacute;telo antes de que se acabe!
      </p>
      <button class="btn btn-outline-secondary btn-banner" id="call-to-action">
        <span>¡Mu&eacute;strame las ofertas!</span>
        <i class="la la-angle-down btn-banner-icon"></i>
      </button>
    </div>
  </div>
  <catalog-products-component></catalog-products-component>
</main>

<footer-component></footer-component>
