<!-- <h1>{{ $loginPage.title }}</h1> -->
<header-component></header-component>

<div class="container">
  <div class="contain">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 bg-white text-center mt-5"
      >
        <form class="p-5" id="login-form">
          <h4 class="text-center h4">Iniciar Sesi&oacute;n</h4>
          <div class="form-group row">
            <label for="Correo" class="col-2 col-sm-2 col-form-label"
              ><i class="lar la-user la-2x"></i
            ></label>
            <div class="col-10 col-sm-10">
              <input
                class="form-control"
                type="text"
                id="username"
                placeholder="Nombre de Usuario"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="Password" class="col-2 col-sm-2 col-form-label"
              ><i class="las la-lock la-2x"></i
            ></label>
            <div class="col-10 col-sm-10">
              <input
                class="form-control"
                type="password"
                id="password"
                placeholder="Contrase&ntilde;a"
                required
              />
            </div>
          </div>

          <button class="btn button-primary btn-block" type="submit">
            Ingresar
          </button>
        </form>
        <p>¿No tienes cuenta? <a href="register.html">Registrate</a></p>
      </div>
    </div>
  </div>
</div>

<footer-component></footer-component>
